{% extends "pages/base.html" %}

{% block content %}

<div class="form-container">
    <h2>Change password</h2>
    {{ form.non_field_errors }}

    <form action="/change_password" method="post">
        {% csrf_token %}
        <!--
        <div>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
        -->
        <div>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <input type="submit" value="Change" class="regular-btn">
    </form>
</div>

{% endblock %}